
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-3">Monitor de Medios</h3>
    <p class="lead">Seleccione una categoría a buscar o busque palabras claves individuales.</p>
  </div>
</div>

<div>


  <div class="home jumbotron centered">
    <h4>Buscador de noticias</h4>
   
   <!--div class="input-group">
   
   <input [(ngModel)]="iniDate" type="date" name="startDate"/>
   </div-->
   
        <div class="input-group">
        
            <select [(ngModel)]="defaultCat" name="cates">
                <option [value]=0>Categorias:</option>
                <option *ngFor="let option of cats" [value]="option.id"> {{ option.name }} </option>
            </select>
        
		</div> 


      <div class="input-group">
        
            <select [(ngModel)]="defaultSrc" name="sources">
                <option [value]=0>Fuentes:</option>
                <option *ngFor="let option of sources" [value]="option.id"> {{ option.name }} </option>
            </select>
        
		</div> 		
  
   						<div class="input-group">
  <input type="text" class="form-control" [(ngModel)]="wordQuery" placeholder="ingrese palabra">
  <span class="input-group-btn">
      <button class="btn btn-success" (click)="Search()" (keyup.enter)="Search();" type="button">Buscar</button>
  </span>
                       </div>
   
   <div class="form-group">
   <h5><span class="badge badge-default">Keywords:</span></h5><label>{{ keys}}</label>
   
   </div>
   
    <button class="btn btn-success" (click)="down_csv()"  type="button">CSV</button>
   
   <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th style="width: 20%">
            <mfDefaultSorter by="titulo">Titulo</mfDefaultSorter>
        </th>
        <th style="width: 50%">
            <mfDefaultSorter by="descripcion">Descripcion</mfDefaultSorter>
        </th>
        <th style="width: 10%">
            <mfDefaultSorter by="nlink">Link</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
        </th>
		  <th style="width: 20%">
            <mfDefaultSorter by="pclave">Keywords</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td>{{item.titulo}}</td>
        <td>{{item.descripcion}}</td>
        <td class="text-right"><a href='{{item.nlink}}' target='_blank'>{{item.nlink}}</a></td>
        <td>{{item.fecha}}</td>
		<td>{{item.pclave | uppercase}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
     

    <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Salir</a></p>
    </div>
</div>
